*.class
*.log
*.war
.DS_Store
target/
build/
bin/
.settings/
.classpath
.project
.vscode/
.idea/

node_modules/
dist/
.env



*.jar


!src/main/webapp/WEB-INF/lib/*.jar
!WebContent/WEB-INF/lib/*.jar
!lib/*.jar